/* Theme Colors 
Light Green: 90df85
Blue: 264b72
Teal: 44848e
Navy Blue: 0b1d28
*/

#results-top {
    height: 660px;
}

#logo {
    height: 100px;
}

#logo-container {
    text-align: center;
}

#logo-text {
    color: #44848e;
}

#title {
    margin-top: 50px;
}

#title > p, #results-bar {
    margin-bottom: 0px;
}

.goal {
    font-size: 40px;
}

#sidebar, #external-links {
    margin-top: 20px;
    border-bottom: 1px black solid;
    padding: 0px;
}

#options > p {
    padding: 15px;
    margin-bottom: 0px;
}

.selected {
    background-color: #90df85;
    border-radius: 8px;
}

#results-bar {
    border-bottom: 1px black solid;
    width: 100%;
    padding-bottom: 5px;
}

.results-header {
    color: #90df85;
    font-size: 28px;
    margin: 15px;
}

.key-metrics {
    text-align: center;
    margin-bottom: 30px;
}

.key-metrics > div {
    font-size: 16px;
}

.metric {
    color: #90df85;
    font-size: 36px;
}

.charts-top {
    border-top: 1px black solid;
    height: 240px;
}

.conversion-compare {
    border-top: 1px black solid;
}

.compare-row {
    border-right: 1px black solid;
    text-align: center;
}

.compare-row > p {
    font-size: 16px;
}

.estimated > p{
    margin-bottom: 54px;
}

.charts-bottom {
    margin-top: 20px;
    border-top: 1px black solid;
    height: 160px;
}

.metric-selector {
    text-align: center;
    border: 1px black solid;
    border-radius: 8px;
    padding: 0px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.filter {
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    border-bottom: 1px black solid;
}

.form-check {
    padding: 10px;
}

#options > span {
    padding: 5px;
}

.algorithm-submit {
    margin: 10px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #90df85; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 300px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#sidebar {
    height: 660px;
}
